body {
  font-family: Arial, sans-serif;
  background: #f5f7fa;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.todo-card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  width: 350px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.todo-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.description {
  font-size: 18px;
  line-height: 120%;
  opacity: 0.6;
}

.todo-info {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 15px;
}

.priority {
  padding: 5px;
  border-radius: 6px;
}

.priority.high {
  background: red;
  color: white;
}

.status {
  font-weight: bold;
}

time {
  margin-top: 20px;
  font-size: 18px;
  line-height: 28px;
}

#timeRemaining {
  font-size: 14px;
  line-height: 100%;
}

.tags {
  display: flex;
  gap: 8px;
  list-style: none;
  padding: 0;
}

.tags li {
  background: #eee;
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 16px;
}

.actions-btn {
  margin-top: 15px;
  display: flex;
  gap: 10px;
}

form {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  align-items: center;
  justify-content: center;
}

button {
  padding: 8px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 15px;
  transition: all 0.5s ease;
  background-color: hsla(0, 0%, 0%, 0.849);
  color: #eee;
}

button:hover {
  transform: scale(1.05);
}

.hidden {
  display: none;
}

.collapsed {
  max-height: 40px;
  overflow: hidden;
}

.indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
}

.indicator.high {
  background: red;
}
.indicator.medium {
  background: orange;
}
.indicator.low {
  background: green;
}

.done {
  text-decoration: line-through;
  opacity: 0.6;
}

.in-progress {
  border: 2px solid blue;
  padding: 5px;
  border-radius: 6px;
}

.overdue {
  color: red;
}
